<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="classpath:sport.properties" />

	<!-- Tao dependency/helper -->
	<bean id="myFortune" class="iuh.fit.se.libs.BaseballFortuneService">
	</bean>

	<bean id="myCoach" class="iuh.fit.se.libs.BaseballCoach">
		<constructor-arg ref="myFortune" /> <!-- Inject dependency/helper su dung constructor injection -->
	</bean>

	<bean id="myCricketCoach" class="iuh.fit.se.libs.CricketCoach">
		<property name="fortuneService" ref="myFortune" />
		<!-- <property name="emailAddress" value="ThegoodCoach@se.com" /> <property 
			name="team" value="India National" /> -->

		<property name="emailAddress" value="${foo.email}" />
		<property name="team" value="${foo.team}" />
	</bean>


</beans>